/* assets/css/style.css */
/* Import the Borel font */
@font-face {
  font-family: 'Borel';
  src: url('/assets/fonts/Borel-Regular.ttf') format('truetype'); /* Update the path to the font file */
}

body {
  font-family: 'Borel', sans-serif; /* Apply the custom font to the body */
  background-color: #ADD8E6;
  margin: 0;
  padding: 0;
}

header {
  background-image: url('/assets/images/header-image.jpeg'); /* Replace 'header-image.jpeg' with your image filename */
  background-size: cover; /* Set the background image size to cover the header */
  background-position: center; /* Center the background image horizontally and vertically */
  height: 200px; /* Set the height of the header, adjust this value as needed */
}
