/* assets/css/style.css */
body {
  font-family: 'Roboto', sans-serif; /* Apply the custom font to the body */
  background-color: #ADD8E6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #00008B; /* Set the background color for the header (white in this example) */
  padding: 30px; /* Add padding to the header for spacing */
}
